# Node modules directory
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.test

# Build output
dist/
build/

# Temporary files
*.tmp
*.swp
*.swo
*.DS_Store

# Editor directories and files
.vscode/
.idea/

# Dependency directories
jspm_packages/

# IDE-specific files
*.iml

# Operating system files
.DS_Store
Thumbs.db

# Testing coverage
coverage/
